.highlighter .hll { background-color: #404040 }
.highlighter .c { color: #999999; font-style: italic } /* Comment */
.highlighter .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlighter .g { color: #d0d0d0 } /* Generic */
.highlighter .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlighter .l { color: #d0d0d0 } /* Literal */
.highlighter .n { color: #d0d0d0 } /* Name */
.highlighter .o { color: #d0d0d0 } /* Operator */
.highlighter .x { color: #d0d0d0 } /* Other */
.highlighter .p { color: #d0d0d0 } /* Punctuation */
.highlighter .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlighter .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlighter .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlighter .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlighter .gd { color: #d22323 } /* Generic.Deleted */
.highlighter .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlighter .gr { color: #d22323 } /* Generic.Error */
.highlighter .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlighter .gi { color: #589819 } /* Generic.Inserted */
.highlighter .go { color: #cccccc } /* Generic.Output */
.highlighter .gp { color: #aaaaaa } /* Generic.Prompt */
.highlighter .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlighter .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlighter .gt { color: #d22323 } /* Generic.Traceback */
.highlighter .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlighter .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlighter .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlighter .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlighter .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlighter .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlighter .ld { color: #d0d0d0 } /* Literal.Date */
.highlighter .m { color: #3677a9 } /* Literal.Number */
.highlighter .s { color: #ed9d13 } /* Literal.String */
.highlighter .na { color: #bbbbbb } /* Name.Attribute */
.highlighter .nb { color: #24909d } /* Name.Builtin */
.highlighter .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlighter .no { color: #40ffff } /* Name.Constant */
.highlighter .nd { color: #ffa500 } /* Name.Decorator */
.highlighter .ni { color: #d0d0d0 } /* Name.Entity */
.highlighter .ne { color: #bbbbbb } /* Name.Exception */
.highlighter .nf { color: #447fcf } /* Name.Function */
.highlighter .nl { color: #d0d0d0 } /* Name.Label */
.highlighter .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlighter .nx { color: #d0d0d0 } /* Name.Other */
.highlighter .py { color: #d0d0d0 } /* Name.Property */
.highlighter .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlighter .nv { color: #40ffff } /* Name.Variable */
.highlighter .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlighter .w { color: #666666 } /* Text.Whitespace */
.highlighter .mf { color: #3677a9 } /* Literal.Number.Float */
.highlighter .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlighter .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlighter .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlighter .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlighter .sc { color: #ed9d13 } /* Literal.String.Char */
.highlighter .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlighter .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlighter .se { color: #ed9d13 } /* Literal.String.Escape */
.highlighter .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlighter .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlighter .sx { color: #ffa500 } /* Literal.String.Other */
.highlighter .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlighter .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlighter .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlighter .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlighter .vc { color: #40ffff } /* Name.Variable.Class */
.highlighter .vg { color: #40ffff } /* Name.Variable.Global */
.highlighter .vi { color: #40ffff } /* Name.Variable.Instance */
.highlighter .il { color: #3677a9 } /* Literal.Number.Integer.Long */
