---
layout: default
title: Наши Программы
lang: ru
ref: our-programms
order: 4
permalink: /ru/our-programms.html
redirect_from: /ru/my-work.html


---

<div class="home">

    <h1 class="page-heading"></h1>

    <ul class="post-list">
        {% assign posts=site.categories.our-programms | where:"lang", page.lang %}
        {% for post in posts %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }} {% if post.author %} | By: {{ post.author }} {% endif %} {% if post.translator %} | Translator: {{ post.translator }} {% endif %}</span></br>
            {{ post.excerpt }}
            <a href="{{ post.url }}">Читать далее →</a>
        </li>
        {% endfor %}
    </ul>

</div>