---
layout: default
title: Наши Программы
lang: ru
ref: our-programms
order: 4
permalink: /ru/our-programms.html
redirect_from: /ru/my-work.html

---

<div class="home">

    <ul class="post-list">
        {% assign posts=site.categories.our-programms | where:"lang", page.lang %}
        {% for post in posts %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {% include post-meta-list.html %}
            {{ post.excerpt }}
            <a href="{{ post.url }}" class="read-more">Читать далее...</a>
        </li>
        {% endfor %}
    </ul>

</div>


<style>
    /**
     * Additional styles for the Home page
     */
    .wrapper .home {
        background-color: transparent !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        padding-top: 0 !important;
    }
</style>