<br>
<div id="author-area">
    <a href="//www.arthurgareginyan.com" class="author-link">
        <img src="/images/author/arthur.jpg" alt="Arthur Gareginyan" class="author-avatar">
    </a>
    <div class="flattr-button">
        {% include flattr-button.html %}
    </div>
    <div class="author-info">
        <h3 class="author-title">Arthur Gareginyan</h3>
        <p class="author-bio">Arthur is a designer and full stack software engineer. He is the founder of <b>MyCyberUniverse.com</b>. His personal website can be found at <a href="//www.arthurgareginyan.com">arthurgareginyan.com</a>. Check out his free WordPress plugins at <a href="https://profiles.wordpress.org/arthur-gareginyan/">wordpress.org</a>.</p>
        <span class="author-follow">Follow Arthur: {% include social-media-buttons-arthur.html %}</span>
    </div>
</div>

<style>
    #author-area {
        background: #f0f0f0;
        border: 1px solid #d2d2d2;
        padding: 10px;
        width: 97%;
        overflow: hidden;
        color: #333;
        margin-bottom: 25px;
    }
    #author-area .author-avatar {
        margin: 0;
        padding: 5px;
        float: left;
        border: 1px solid #ddd;
        width: 100px;
        height: 100px;
    }
    .author-info {
        padding-left: 120px;
        text-shadow: none;
    }
    #author-area .author-title {
        text-align: left;
        font-size: 18px;
        font-weight: 600;
        color: #333;
        margin: 0;
        padding: 10px 10px 5px 10px;
        border: none;
    }
    #author-area .author-bio,
    #author-area .author-follow {
        font-size: 16px;
        line-height: 23px;
        color: #444;
        margin: 0;
        padding: 0px 10px 10px 10px;
    }
    #author-area .author-bio b {
        font-weight: 400;
    }
</style>