<br>

{% assign author = site.authors[page.author] %}

<div id="author-area">
    <a href="{{ author.web }}" class="author-link">
        <img src="{{ author.photo }}" alt="{{ author.full_name }}" class="author-avatar">
    </a>
    <div class="flattr-button">
        {% if page.author == "Arthur Gareginyan" %}
            {% include flattr-button.html %}
        {% endif %}
    </div>
    <div class="author-info">
        <h3 class="author-title">{{ author.full_name }}</h3>
        <p class="author-bio">{{ author.bio }}</p>
        <span class="author-follow">Follow {{ author.name }}: {% include social-media-buttons-{{ author.name }}.html %}</span>
    </div>
</div>

<style>
    #author-area {
        background: #f0f0f0;
        border: 1px solid #d2d2d2;
        padding: 10px;
        width: 97%;
        overflow: hidden;
        color: #333;
        margin-bottom: 25px;
    }
    #author-area .author-avatar {
        margin: 0;
        padding: 5px;
        float: left;
        border: 1px solid #ddd;
        width: 100px;
        height: 100px;
    }
    #author-area .flattr-button {
        position: absolute;
        margin-top: 125px;
    }
    .author-info {
        padding-left: 120px;
        text-shadow: none;
    }
    #author-area .author-title {
        text-align: left;
        font-size: 18px;
        font-weight: 600;
        color: #333;
        margin: 0;
        padding: 10px 10px 5px 10px;
        border: none;
    }
    #author-area .author-bio,
    #author-area .author-follow {
        font-size: 16px;
        line-height: 23px;
        color: #444;
        margin: 0;
        padding: 0px 10px 10px 10px;
    }
    #author-area .author-bio b {
        font-weight: 400;
    }
</style>