<div class="adsense-bottom">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Bottom of post - N1 (mycyberuniverse.com) -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-2282731868223577"
        data-ad-slot="3739779643"
        data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<style>
    .adsense-bottom {
        width: -webkit-calc(100% - 270px);
        width: calc(100% - 270px);
        margin: 0 10px;
    }
</style>