<p class="post-meta">

    <i class="fa fa-clock-o"></i>
    <a href="/archive.html#{{ page.date | date: "%Y" }}">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
    </a>

    {% if page.author %}
        {% assign author = site.data.authors[page.author] %}
        &nbsp;
        <i class="fa fa-user"></i>
        <span itemscope itemtype="http://schema.org/Person">
            <span itemprop="author">
                <a href="//{{ author.web }}" target="_blank">{{ author.full_name }}</a>
            </span>
        </span>
    {% endif %}

    {% if page.translator %}
        {% assign translator = site.data.authors[page.translator] %}
        &nbsp;
        <b>Translator:</b>
        <span itemscope itemtype="http://schema.org/Person">
            <span itemprop="translator">
                <a href="//{{ translator.web }}" target="_blank">{{ translator.full_name }}</a>
            </span>
        </span>
    {% endif %}

    &nbsp;
    <i class="fa fa-folder-open"></i>
    {{ page.categories[0] }}

    &nbsp;
    <i class="fa fa-comment"></i>
    <a href="{{ page.url | prepend: site.baseurl }}#disqus_thread">Comments</a>

</p>