<br>
<div class="protest">
    <a class="post-link" href="https://www.vpnmentor.com/blog/fight-rule-41/" target="_blank" rel="nofollow">DON’T LET THE U.S. GOVERNMENT HACK OUR COMPUTERS – STOP THE CHANGES TO RULE 41</a>
</div>

<style>
.protest {
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 3px 10px black;
    -moz-box-shadow: 0 3px 10px black;
    box-shadow: 0 3px 10px black;
}
.protest .post-link {
    font-size: 18px;
    text-align: center;
}
</style>