<aside id="sidebar" role="complementary">

    <nav class="sidebar-item site-nav">
        <p class="sidebar-item-title">Menu</p>
        <ul>
            {% assign pages=site.pages | where:"lang", page.lang | sort:"order" %}
            {% for page in pages %}
                {% unless page.exclude %}
                    {% if page.title %}
                        <li>
                            <a class="page-link {% if page.url == link.url %} current {% endif %}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                {% endunless %}
            {% endfor %}
        </ul>
    </nav>

    <div class="sidebar-item">
        <p class="sidebar-item-title">Our Team</p>
        <ul class="our-team">
            <li>
                <a href="//arthurgareginyan.com" title="Founder and writer" target="blank">
                    <img src="/images/avatar/arthur.jpg" alt="Arthur Gareginyan"> -  Arthur Gareginyan
                </a>
            </li>
            <li>
                <a href="//milenakiseleva.github.io" title="Writer and Translator" target="blank">
                    <img src="/images/avatar/milena.jpg" alt="Milena Kiseleva"> -  Milena Kiseleva
                </a>
            </li>
        </ul>
    </div>

    {% include custom-advertisement.html %}
    {% unless page.remove_ad %}
        {% include adsense-sidebar.html %}
    {% endunless %}

</aside>
