<aside id="sidebar" role="complementary">
    
    <nav class="sidebar-item site-nav">
        <p class="sidebar-item-title">Menu</p>
        <ul>
            <li>
                <a href="/about.html" class="page-link">About</a>
            </li>
            <li>
                <a href="/contact.html" class="page-link">Contact</a>
            </li>
            <li>
                <a href="/donate.html" class="page-link">Donate</a>
            </li>
            <li>
                <a href="/our-programms.html" class="page-link">Our Programms</a>
            </li>
            <li>
                <a href="/archive.html" class="page-link">Archive</a>
            </li>
            <li>
                <a href="/privacy-policy.html" class="page-link">Privacy Policy</a>
            </li>
        </ul>
    </nav>

    <div class="sidebar-item">
        <p class="sidebar-item-title">Our Team</p>
        <ul class="our-team">
            <li>
                <img src="/images/avatar/arthur.jpg" alt="Arthur Gareginyan">
                <a href="//arthurgareginyan.com" title="Founder of MyCyberUniverse" target="blank">-  Arthur Gareginyan</a>
            </li>
            <li>
                <img src="/images/avatar/milena.jpg" alt="Milena Kiseleva">
                <a href="//milenakiseleva.github.io" title="Writer and Translator" target="blank">-  Milena Kiseleva</a>
            </li>
        </ul>
    </div>

    {% include adsense-sidebar.html %}

</aside>
