<div class="sidebar-item sidebar-custom-item">
    <p class="sidebar-item-title">Say Thanks!</p>
    <div class="sidebar-item-content">
        If you find our content helpful, please <a href="/support.html">Click Here</a> to learn all the ways you can support our website.
    </div>
</div>

<style>
    .sidebar-custom-item {
        display: none ;
        font-size: 16px;
    }
    .sidebar-item-content img {
        padding: 0;
        width: 230px;
        max-width: 230px;
        margin-left: -20px;
    }
</style>
