<ul class="smbt-social-icons">
    <li>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8A88KC7TFF6CS" title="Donate" target="blank">
            <img src="/images/social-media-icons/paypal.png" alt="Donate">
                </a>
    </li>
    <li>
        <a href="//www.facebook.com/arthur.gareginyan" title="Facebook" target="blank">
            <img src="/images/social-media-icons/facebook.png" alt="Facebook">
                </a>
    </li>
    <li>
        <a href="//twitter.com/AGareginyan" title="Twitter" target="blank">
            <img src="/images/social-media-icons/twitter.png" alt="Twitter">
                </a>
    </li>
    <li>
        <a href="mailto:arthurgareginyan@gmail.com?subject=Message from MyCyberUniverse.com" title="Email" target="blank">
            <img src="/images/social-media-icons/mail.png" alt="Email">
                </a>
    </li>
    <li>
        <a href="http://feeds.specificfeeds.com/mycyberuniverse?subParam=followPub" title="RSS Feed" target="blank">
            <img src="/images/social-media-icons/rss.png" alt="RSS Feed">
                </a>
    </li>
</ul>

<style>
    .smbt-social-icons {
        text-align: center;
    }

    .smbt-social-icons li {
        display:inline-block;
        list-style-type:none;
        -webkit-user-select:none;
        -moz-user-select:none;
    }

    .smbt-social-icons li a {
        border-bottom: none;
    }

    .smbt-social-icons li img {
        width: 32px;
        height: 32px;
        margin-right: 5px;
        padding: 0;
    }
</style>