<div class="widget-subscribe">
    <h6 class="widget-footer-title">Subscribe</h6>
    <p>Subscribe to the mailing list and get the fresh content!</p>
    <form method="post" target="_blank" action="https://www.specificfeeds.com/follow?pub=2jcpuERsm61dbHbp2czf9A" class="subscribe-form">
        <input type="email" name="email" placeholder="Enter your email..." class="subscribe-input">
        <input type="submit" value="Subscribe" name="subscribe" class="subscribe-button">
    </form>
</div>
<style>
.widget-subscribe {
    float: right;
    width: 450px;
    padding-bottom: 50px;
}
.widget-footer-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 700;
}
.subscribe-form {
    position: relative;
    margin-top: 10px;
}
.subscribe-input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    width: 100%;
    padding: 10px 40px 10px 10px;
    color: #999;
    font-size: 14px;
    line-height: normal;
}
.subscribe-form i {
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 1;
    cursor: pointer;
}
.subscribe-form i:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0e0"
    font-size: 24px;
    line-height: 45px;
    color: #b2b2b2;
}
.subscribe-button {
    display: none;
}
</style>