<div class="top-banner">
    <a class="post-link" href="" target="_blank" rel="nofollow">...</a>
</div>
<br>

<style>
.top-banner {
    margin: 0 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 10px rgb(131, 131, 131);
    -moz-box-shadow: 0 3px 10px rgb(131, 131, 131);
    box-shadow: 0 3px 10px rgb(131, 131, 131);
}
.top-banner .post-link {
    font-size: 18px;
    text-align: center;
    color: rgb(255, 135, 133);
}
</style>