body {
    line-height: 1.5em;
    font-family: Lato, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #000;
    background-color: #eaebe3;
    border-top: 5px solid #fc0;
    -webkit-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

h3 {
    text-align: center;
}

/*
 * Add line mreak before H2 and H3 tags
 */
article .post {

    > h3, h4 {
        white-space: pre;

        &:before,
        &:before {
            content: '\A';
        }
    }
}

/*
 * Tags
 */
.post-tags {
    font-size: 14px;
    color: #ffffff;

    span+span::before {
        content: ", ";
    }

}

/*
 * Archive page
 */
.archive-post-list li {
    list-style: none;
    line-height: 30px;
}
.archive-post-list li time {
    display: inline-block;
    width: 80px;
}
.archive-post-list li a {
    display: inline-block;
    padding-left: 15px;
}
.archive-post-list a.year {
    color: #000000;
}

/*
 * Images
 */
img {
    padding: 10px 10px 30px 10px;
    vertical-align: bottom;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img[alt=thumb] {
    border: 0;
    padding: 0px 10px 0px 0px;
}

article img {
    border: 1px solid lightgrey;
}

.author {
    background-color: gray;
}

/*
 * Reset the width and height of images (temporary)
 */
.size-large {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

img[alt=thumb] {
    float: left;
    max-height: 120px;
    max-width: 250px;
}

.alignleft {
    float: left;
}

.footer-nav-list {
    line-height: 20px;

    li a {
        font-weight: 300;
    }
}

/*
 * Changing the position of date
 */
p.post-meta {
    margin-top: -10px;
    min-height: 0 !important;
}

li>h2 {
    padding-top: 0;
}

h2,
h3 {
    padding-top: 25px;
}

/*
 * HTML Tabple
 */
table {
    border: 1px solid grey;

    caption {
        border: 1px solid grey;
    }

    th {
        border: 1px solid grey;
    }

    td {
        border: 1px solid grey;
    }
}

/*
 * Read More button
 */
.read-more {
    position: absolute;
    background-color: #fefff6;
    color: black;
    margin-top: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    -webkit-box-shadow: 0 3px 10px #838383;
    -moz-box-shadow: 0 3px 10px #838383;
    box-shadow: 0 3px 10px #838383;
    font-size: 21px;
}
.read-more:hover {
    color: #17c6ff;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}
.read-more:visited {
    color: black;
}

/*
 * Comments section
 */
#sidebar {
    float: right;
    width: 230px;
    margin-right: 10px;


    .site-nav {

        ul {
            margin-bottom: 10px;
        }
        li {
            line-height: 1.2em;
        }
        li:not(:last-child) {
            padding-bottom: 3px;
        }
        a,
          a:visited {
            padding-left: 0;
            color: #494949;
        }
        a:hover {
            color: #17c6ff;
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
        }
    }

    @include media-query( $on-laptop ) {
        display: none !important;
    }
}
.sidebar-item {
    width: 190px;
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e6;
    -webkit-box-shadow: 0 3px 10px rgb(131, 131, 131);
    -moz-box-shadow: 0 3px 10px rgb(131, 131, 131);
    box-shadow: 0 3px 10px rgb(131, 131, 131);

    a,
    a:visited {
        padding-left: 0;
        color: #494949;
    }
    a:hover {
        color: #17c6ff;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
    }
}
.sidebar-item-title {
    font-family: 'Trajan Pro', 'Cinzel';
    border-bottom: 1px solid #e9e8e4;
    padding-bottom: 5px;
    margin-top: -5px;
    color: #fc0;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
}
.sidebar-item li {
    font-size: 16px;
}
.sidebar-item .our-team {

    margin: 0;

    > li {
            list-style: none;
            padding-bottom: 8px;

            > a {
                padding-left: 8px;

                > img {
                    width: 30px;
                    height: 30px;
                    vertical-align: middle;
                    padding: 0;
                    border-radius: 15px;
                    margin: 0;
                    display: inline;
                }
            }
    }
}

/*
 * Comments section
 */
.post-comments {
    clear: both;
    width: -webkit-calc(100% - 330px );
    width: calc(100% - 330px );
    background-color: #fff;
    margin: 0 10px;
    -webkit-box-shadow: 0 3px 10px rgb(131, 131, 131);
    -moz-box-shadow: 0 3px 10px rgb(131, 131, 131);
    box-shadow: 0 3px 10px rgb(131, 131, 131);
    padding: 30px 30px 30px 30px;
    font-size: 21px;
}
/*
 * Figure, Code and Pre HTML tags
 */
code.highlighter-rouge {
    background-color: #ddd;
    border: 0;
}

pre.highlight {
    background-color: #2b2b2b !important;
    color: #fff;
    max-width: 98%;
    min-height: 30px;
    width: 100%;
    overflow-x: auto;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    white-space: pre;
    display: inline-block;
    font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    padding: 0 0.5em;

    pre,
    code {
        background: #2b2b2b;
    }
}

figure.highlight {
    background-color: transparent;
    display: block;

    pre,
    code {
        background: #2b2b2b;
    }
}

pre {
    background-color: grey;
    color: #fff;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    white-space: pre;
    display: block;
    font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    padding: 0 0.5em;
}

.highlight {
    > code .err {
        color: white;
        background-color: #2b2b2b;
    }
}

code {
    
}

/*
 * Links
 */
a,
a:visited {
    color: #fc0;
    text-decoration: none;
}

a:hover {
    color: #f90;
    text-decoration: none;
}
article a,
article a:visited {
    color: #ff850b;
}

/*
 * Wrapper
 */
.wrapper {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    @extend %clearfix;

    .post {
        width: -webkit-calc(100% - 330px );
        width:         calc(100% - 330px );
    }

    .home {
        margin: 0 10px;
        padding: 0;
        width: -webkit-calc(100% - 270px );
        width:         calc(100% - 270px );
        max-width: 900px;
        background-color: transparent;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
@include media-query( $on-laptop ) {
    .wrapper .post,
    .wrapper .home,
    .post-comments {
        width: -webkit-calc(100% - 80px ) !important;
        width:         calc(100% - 80px ) !important;
    }
    .wrapper {
        padding: 0;
    }
    .author-info {
        padding-left: 0 !important;
    }
    .flattr-button {
        margin-top: 108px !important;
    }
}

/*
 * Content Area
 */
article {
    background-color: #fff;
    border: 1px solid #e7e7e6;
    margin: 0 10px;
    -webkit-box-shadow: 0 3px 10px rgb(131, 131, 131);
    -moz-box-shadow: 0 3px 10px rgb(131, 131, 131);
    box-shadow: 0 3px 10px rgb(131, 131, 131);
    padding: 30px;
    font-size: 21px;
}

/*
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 2px solid #424242;
    min-height: 56px;
    background-color: #212121;

    // Positioning context for the mobile navigation icon
    position: relative;

    .wrapper {
        height: 90px;
        padding-top: 0;
        padding-bottom: 30px;
    }
}

.site-title {
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    margin-left: 45px;
    font-family: 'Trajan Pro', 'Cinzel';
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.site-tagline {
    display: block;
    font-size: 20px;
    text-align: right;
    margin-top: -10px;
    margin-right: -50px;
}

.site-logo {
    position: absolute;
    z-index: 1;
    margin-top: 40px;
    height: 70px;

    @include media-query( $on-laptop ) {
        display: none;
    }

}

/*
 * Language trigger
 */
.lang-trigger {
    right: 10px;
    color: orange;
    background-color: #424242;
    margin-top: -5px;
    float: right;
    border: 1px solid orange;
    border-top: 0;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    border-radius: 0px 0px 5px 5px;

    a+a::before {
        content: " | ";
    }

    .en,
    .ru {
        text-transform: uppercase;
    }

    .en:lang(en),
    .ru:lang(ru) {
        font-weight: bold;
    }
}

.site-header {

    .site-nav {
        position: relative;
        z-index: 1;
        margin-top: 60px;
        margin-right: -70px;

        .page-link {
            border-bottom: 1px solid rgb(40, 142, 255);
        }
    }

}

/*
* Navigation Menu
*/
.site-nav {
    float: right;
    line-height: 40px;
    text-transform: uppercase;

    a,
    a:visited {
        color: #fc0;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-weight: 900;
        font-size: 14px;
        padding: 0.5em 1em;
        text-shadow: none;
        text-transform: uppercase;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }

    a:hover {
        color: #f90;
        text-decoration: none;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;
        border-radius: 0px 0px 5px 5px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        @include media-query( $on-palm ) {
            border: none;
            border-bottom: 0;
        }

    }

    .page-link.active {
        background-color: rgba(192, 239, 255, 0.2);
        border-radius: 5px 5px 5px 5px;
    }

    @include media-query( $on-palm ) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/*
 * Site footer
 */
.site-footer {
    border-top: 3px solid #424242;
    margin-top: 30px;
    padding: 10px 0;
    background-color: #212121;
    color: #c0c0c0;
    font-size: 16px;

    a,
    a:visited {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        color: #f90;
        text-decoration: none;
    }

    .wrapper {
        padding-bottom: 0;
    }

    @include media-query( $on-laptop ) {
        padding: 20px !important;
        margin-top: 10px;
    }
}

.footer-col-wrapper {
    height: 320px;
    font-size: 15px;
    color: $grey-color;
    margin-top: 10px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;

    @include media-query( 1020px ) {
        height: 400px !important;
    }

    @include media-query( $on-laptop ) {
        height: 300px !important;

        .footer-col-2 {
            display: none;
        }
    }
}

.footer-col {
    position: relative;
    height: 100%;
    width: -webkit-calc(49% - (#{$spacing-unit} / 2));
    width:         calc(49% - (#{$spacing-unit} / 2));
    float: left;
    padding-left: $spacing-unit / 2;

    @include media-query( $on-laptop ) {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2)) !important;
        width:         calc(100% - (#{$spacing-unit} / 2)) !important;
    }

    @include media-query( $on-palm ) {
        float: none !important;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2)) !important;
        width:         calc(100% - (#{$spacing-unit} / 2)) !important;
    }
}

.footer-col-bottom {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;

    @include media-query( $on-palm ) {
        position: relative !important;
    }
}

.footer-col .widget-footer-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-nav-list {
    
    li {
        color: grey;
        float: left;
        list-style-type: none;
        padding-right: 0;
        padding-left: 0;
        text-transform: uppercase;
        border-right: 2px solid grey;
    }

    a {
        color: grey;
        font-size: 12px;
    }
}

/*
 * Page content
 */
.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        border: 1px solid #e7e7e6;
        margin-bottom: $spacing-unit;
    }
}
.post-list li p {
    min-height: 130px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-family: "Droid Serif", serif;
    font-weight: 500;
    font-size: 40px;
    color: #333 !important;
}



/*
 * Posts
 */
a {
    color: #fc0;
    text-decoration: none;
}

a:hover {
    color: #f90;
    text-decoration: none;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-family: "Droid Serif", serif;
    font-weight: 500;
    font-size: 40px;
    color: #333 !important;

    @include media-query( $on-laptop ) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query( $on-laptop ) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query( $on-laptop ) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query( $on-laptop ) {
            font-size: 18px;
        }
    }
}

ul.post-list li {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 3px 10px rgb(131, 131, 131);
    -moz-box-shadow: 0 3px 10px rgb(131, 131, 131);
    box-shadow: 0 3px 10px rgb(131, 131, 131);
    font-size: 21px;
}

/*
 * Button
 */
.sc-btn {
    display: inline-block;
    position: relative;
    margin: 0 .25em .5em 0;
    padding: 0;
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.3) 0px -0.1em 0px;
    border: 0;
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    background-color: #1a1a1a;
    background-image: -webkit-linear-gradient(top, #595959, #1a1a1a 100%);
    background-image: -moz-linear-gradient(top, #595959, #1a1a1a);
    background-image: -ms-linear-gradient(top, #595959, #1a1a1a);
    background-image: -o-linear-gradient(top, #595959, #1a1a1a);
    background-image: linear-gradient(top, #595959, #1a1a1a);
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px -0.15em 0px, inset rgba(255, 255, 255, 0.2) 0px 0.15em 0px, rgba(0, 0, 0, 0.3) 0px 0.1em 0.3em;
    text-align: center;
    background-repeat: no-repeat;
    -webkit-transition: background-position .1s ease-in-out;
    -webkit-appearance: none;
    cursor: pointer;
    overflow: hidden; }
.sc-btn:hover {
    color: #fff; }
.sc-btn:active {
    box-shadow: rgba(255, 255, 255, 0.2) 0 0.1em 0, inset rgba(0, 0, 0, 0.3) 0px 0.25em 1em; }
    
.sc-icon, .sc-text {
    display: block;
    float: left; }
    
.sc-icon {
    margin: 0 -.4em 0 0;
    padding: 0.6em .8em .5em;
    border-right: rgba(255, 255, 255, 0.1) 0.1em solid;
    box-shadow: inset rgba(0, 0, 0, 0.1) -0.1em 0px 0px; }
    
.sc-text {
    padding: .95em 1em .85em 1em;
    font-size: 1.15em;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; }
    
.sc--github {
    background-color: #3269a0;
    background-image: -webkit-linear-gradient(top, #689cd0, #3269a0 100%);
    background-image: -moz-linear-gradient(top, #689cd0, #3269a0);
    background-image: -ms-linear-gradient(top, #689cd0, #3269a0);
    background-image: -o-linear-gradient(top, #689cd0, #3269a0);
    background-image: linear-gradient(top, #689cd0, #3269a0); }
.sc--github:hover {
    background-color: #2f6498;
    background-image: -webkit-linear-gradient(top, #7ba9d6, #2f6498 90%);
    background-image: -moz-linear-gradient(top, #7ba9d6, #2f6498);
    background-image: -ms-linear-gradient(top, #7ba9d6, #2f6498);
    background-image: -o-linear-gradient(top, #7ba9d6, #2f6498);
    background-image: linear-gradient(top, #7ba9d6, #2f6498);
    background-color: #4988c6; }
.sc--github:active {
    background-color: #3269a0;
    background-image: -webkit-linear-gradient(top, #5490ca, #3269a0 100%);
    background-image: -moz-linear-gradient(top, #5490ca, #3269a0);
    background-image: -ms-linear-gradient(top, #5490ca, #3269a0);
    background-image: -o-linear-gradient(top, #5490ca, #3269a0);
    background-image: linear-gradient(top, #5490ca, #3269a0); }

.sc-btn svg {
    width: 1.8em;
    height: 1.8em;
    fill: #fff; }

.sc-btn i {
    color: #fff; }
/* END-Button */
