body {
    line-height: 1.5em;
    font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ddd;
    background-color: #333;
    border-top: 5px solid #fc0;
    -webkit-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 3px black;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Add line mreak before H2 and H3 tags
 */
h3,
h4 {
    white-space: pre;
}

h3:before,
h4:before {
    content: '\A';
}

/**
 * Images
 */
img {
    padding: 10px 10px 30px 10px;
    vertical-align: bottom;
}

ul li p img {
    padding: 0px 10px 10px 0px;
}

.author {
    background-color: gray;
}

/**
 * Reset the width and height of images (temporary)
 */
.size-large {
    width: 100%;
    height: 100%;
}

img[alt=thumb] {
    float: left;
    height: 120px;
}

.alignleft {
    float: left;
}

.lang-tirgger {
    float: right;
    border: 1px solid orange;
    border-top: 0;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    border-radius: 0px 0px 5px 5px;

    a+a::before {
        content: ", ";
    }
}

.site-title {
    font-family: Adobe Gothic Std;
    line-height: 45px !important;
}
.site-nav {
    line-height: 40px !important;
}

.footer-nav-list {
    line-height: 20px;

    li a {
        font-weight: 300;
    }
}

/**
 * Language trigger
 */
.en:lang(en),
.ru:lang(ru) {
    font-weight: bold;
}

/**
 * Changing the position of date
 */
span.post-meta {
    margin-top: -10px;
    position: absolute;
}

/**
 * Website Title and Description
 */
.description {
    display: block;
    font-size: 18px;
    margin-top: -20px;
}

li>h2 {
    padding-top: 0;
}

h2,
h3 {
    padding-top: 25px;
}

/**
 * HTML Tabple
 */
table {
    border: 1px solid grey;

    caption {
        border: 1px solid grey;
    }

    th {
        border: 1px solid grey;
    }

    td {
        border: 1px solid grey;
    }
}

/**
 * Figure, Code and Pre HTML tags
 */
code.highlighter-rouge {
    background-color: grey;
    border: 0;
}

pre.highlight {
    background-color: #2b2b2b !important;
    color: #fff;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    white-space: pre;
    display: inline-block;
    font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    padding: 0 0.5em;

    pre,
    code {
        background: #2b2b2b;
    }
}

figure.highlight {
    background-color: transparent;
    display: block;

    pre,
    code {
        background: #2b2b2b;
    }
}

pre {
    background-color: grey;
    color: #fff;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    white-space: pre;
    display: block;
    font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    padding: 0 0.5em;
}

code {
    
}

/**
 * Links
 */
a,
a:visited {
    color: #fc0;
    text-decoration: none;
}

a:hover {
    color: #f90;
    text-decoration: none;
}

/**
 * Content Area
 */
article {
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    //line-height: 1.5;
    //color: white;
    background-color: #444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 10px;
    -webkit-box-shadow: 0 3px 10px black;
    -moz-box-shadow: 0 3px 10px black;
    box-shadow: 0 3px 10px black;
    padding: 30px 30px 30px 30px;
    font-size: 21px;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: 56px;
    text-transform: uppercase;

    a,
    a:visited {
        color: #fc0;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-weight: 900;
        font-size: 14px;
        padding: 0.5em 1em;
        text-shadow: none;
        text-transform: uppercase;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }

    a:hover {
        color: #f90;
        text-decoration: none;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    //border-top: 1px solid $grey-color-light;
    padding: 10px 0;
    background-color: #212121;
    color: #c0c0c0;
    font-size: 16px;

    a,
    a:visited {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        color: #f90;
        text-decoration: none;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
a {
    color: #fc0;
    text-decoration: none;
}

a:hover {
    color: #f90;
    text-decoration: none;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

ul.post-list li {
    background-color: #444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 40px;
    -webkit-box-shadow: 0 3px 10px black;
    -moz-box-shadow: 0 3px 10px black;
    box-shadow: 0 3px 10px black;
    font-size: 21px;
}

/* Button */
.sc-btn {
    display: inline-block;
    position: relative;
    margin: 0 .25em .5em 0;
    padding: 0;
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.3) 0px -0.1em 0px;
    border: 0;
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    background-color: #1a1a1a;
    background-image: -webkit-linear-gradient(top, #595959, #1a1a1a 100%);
    background-image: -moz-linear-gradient(top, #595959, #1a1a1a);
    background-image: -ms-linear-gradient(top, #595959, #1a1a1a);
    background-image: -o-linear-gradient(top, #595959, #1a1a1a);
    background-image: linear-gradient(top, #595959, #1a1a1a);
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px -0.15em 0px, inset rgba(255, 255, 255, 0.2) 0px 0.15em 0px, rgba(0, 0, 0, 0.3) 0px 0.1em 0.3em;
    text-align: center;
    background-repeat: no-repeat;
    -webkit-transition: background-position .1s ease-in-out;
    -webkit-appearance: none;
    cursor: pointer;
    overflow: hidden; }
.sc-btn:hover {
    color: #fff; }
    .sc-btn:active {
        box-shadow: rgba(255, 255, 255, 0.2) 0 0.1em 0, inset rgba(0, 0, 0, 0.3) 0px 0.25em 1em; }
    
    .sc-icon, .sc-text {
        display: block;
        float: left; }
    
    .sc-icon {
        margin: 0 -.4em 0 0;
        padding: 0.6em .8em .5em;
        border-right: rgba(255, 255, 255, 0.1) 0.1em solid;
        box-shadow: inset rgba(0, 0, 0, 0.1) -0.1em 0px 0px; }
    
    .sc-text {
        padding: .95em 1em .85em 1em;
        font-size: 1.15em;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif; }
    
    .sc--github {
        background-color: #3269a0;
        background-image: -webkit-linear-gradient(top, #689cd0, #3269a0 100%);
        background-image: -moz-linear-gradient(top, #689cd0, #3269a0);
        background-image: -ms-linear-gradient(top, #689cd0, #3269a0);
        background-image: -o-linear-gradient(top, #689cd0, #3269a0);
        background-image: linear-gradient(top, #689cd0, #3269a0); }
        .sc--github:hover {
            background-color: #2f6498;
            background-image: -webkit-linear-gradient(top, #7ba9d6, #2f6498 90%);
            background-image: -moz-linear-gradient(top, #7ba9d6, #2f6498);
            background-image: -ms-linear-gradient(top, #7ba9d6, #2f6498);
            background-image: -o-linear-gradient(top, #7ba9d6, #2f6498);
            background-image: linear-gradient(top, #7ba9d6, #2f6498);
            background-color: #4988c6; }
            .sc--github:active {
                background-color: #3269a0;
                background-image: -webkit-linear-gradient(top, #5490ca, #3269a0 100%);
                background-image: -moz-linear-gradient(top, #5490ca, #3269a0);
                background-image: -ms-linear-gradient(top, #5490ca, #3269a0);
                background-image: -o-linear-gradient(top, #5490ca, #3269a0);
                background-image: linear-gradient(top, #5490ca, #3269a0); }
                
                .sc-btn svg {
                    width: 1.8em;
                    height: 1.8em;
                    fill: #fff; }
                    
                    .sc-btn i {
                        color: #fff; }
                    /* END-Button */
