---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
        <i class="fa fa-clock-o"></i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
        {% if page.author %} &nbsp; <i class="fa fa-user"></i> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
        &nbsp; <i class="fa fa-comment"></i> <a href="{{ page.url | prepend: site.baseurl }}#disqus_thread">Comments</a>
        {% if page.translator %} &nbsp; <b>Translator:</b> {{ page.translator }} {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
    
    {% if page.author == "Arthur Gareginyan" %}
        {% include about-arthur.html %}
    {% endif %}
    {% if page.author == "Milena Kiseleva" %}
        {% include about-milena.html %}
    {% endif %}
  </div>

</article>

<br clear="all" />

<br/>
{% include adsense-below-post-n1.html %}
<br/>

<br clear="all" />

<section class="post-comments">
    {% include comments.html %}
</section>